
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.soc-med{
	font-size: 32px;
	padding: 3px 0px;
	margin: 0px 25px 0px 0px;
}